apiVersion: traefik.io/v1alpha1
kind: IngressRouteTCP
metadata:
  name: ingress-route-tcp-ssh
spec:
  entryPoints:
    - gittcp
  routes:
    - match: HostSNI(`*`)
      services:
        - name: forgejo-ssh
          port: 22
