apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: kubernetes-database
spec:
  provider:
    kubernetes:
      server:
        caProvider:
          type: ConfigMap
          name: kube-root-ca.crt
          key: ca.crt
          namespace: infrastructure
      remoteNamespace: database
      auth:
        serviceAccount:
          name: external-secrets
          namespace: infrastructure
